* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    height: 100%;
}

#main-nav {}

.container {
    margin: auto;
    width: 700px;
}

#characters {}


#characters .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}