/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {}

li {
    list-style: none;
    display: block;
}

a {
    text-decoration: none;
}



#main-nav {
    position: sticky;
    top: 0;
    background: #333;
    font-family: "Staatliches", cursive;
    border: groove 1px white;
    z-index: 1
}

.nav-items {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-items h1 {
    color: white;
    font-size: 2.5rem;
    font-style: italic;
    margin-left: 2.5rem;
}

.nav-items h1 span {
    color: #FFDC00;
}

.nav-list {
    display: flex;
    margin-right: 2.5rem;
}

.nav-list a {
    padding: 1rem;
    color: white;
    font-size: 2.5rem;
}

.nav-list a:hover {
    color: #FFDC00;
}


#main-header .image-header img {
    width: 100%;
    max-height: 699px;
}

/* 
Hosen code
*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 2rem;

}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;


}

.flip-card-front {
    background-color: rgba(190, 165, 165, 0.5);
    color: black;
}

.flip-card-back {
    color: white;
    background-color: rgba(184, 169, 169, 0.431);
    font-size: 25px;
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 25px;
    z-index: 1;

}

.chracter_image {
    height: 300px;
    width: 300px;
    border-radius: 25px;
}

.card-information {
    margin-top: 2.5rem;
}

.flip-card-back h1 {
    margin-top: .8rem
}

.card-information p {
    margin-top: 1rem;
    text-align: left;
    padding-left: 1rem
        /* line-height: .1rem; */
}

#trailer {
    background: black;
}

.trailer-frame {

    margin: auto;
    width: 100%;
    height: 450px;
    border-radius: 15px;
    border: 2px solid gray;

}

.container {
    margin: auto;
    max-width: 1100px;
}

#characters {
    background: black;
}

#characters .container {
    margin: auto;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

#main-footer {
    height: 150px;
    background: #AAAAAA;
}

#main-footer .footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#main-footer .footer-items p {
    margin-bottom: 1rem;
}
